* {
  box-sizing: border-box;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
main .sub-list {
  list-style-type: lower-latin;
  margin-left: 30px;
}
main li {
  list-style-type: decimal;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
header li{
    margin-right: 30px;
    
}
header img {
  max-width: 100px;
}

#logo{
    display: flex;
    align-items: center;
}
